#pplus-pinfo-txtuseragent{
	-moz-appearance: listbox;
	color: black;
}
#pmplus-user-agent {
  list-style-image: url("chrome://permissionsplus/skin/user-agent.png");
}
#pmplus-clipboard {
  list-style-image: url("chrome://permissionsplus/skin/clipboard.png");
}
#pmplus-ctxmenu {
  list-style-image: url("chrome://permissionsplus/skin/context-menu.png");
}
#pmplus-history {
  list-style-image: url("chrome://permissionsplus/skin/history.png");
}